---
interface Options {
	value: number;
	text: string;
}

interface Props {
	label: string;
	name: string;
	options: Options[];
}

const { label, name, options } = Astro.props;
---

<div class="field">
	<select class="form-control select" name={name} required>
		<option value="" selected disabled></option>
		{
			options.map((option) => {
				return <option value={option.value}>{option.text}</option>;
			})
		}
	</select>
	<label class="form-label" for={name}>{label}</label>
</div>
